@function rem($px) {
  @return calc($px / 10) + rem;
}

$line-height: 1.6;

$font-size-base: 10px;
$font-size-normal: rem(20);
$font-size-medium: rem(22);
$font-size-big: rem(24);
$font-size-large: rem(26);
